mixin dropdown(options)
  - 
    var fieldLength = ""
    fieldLength += options.isSmall ? "dropdown dropdown_small" : options.isMedium ? "dropdown dropdown_medium" : "dropdown"
    var fieldClassName = ""
    fieldClassName += options.dropdown ? "dropdown_dropdown" : ""
    var content = ""
      if (!options.isCalc)
        content = `0 ${options.items[0]}, 0 ${options.items[1]}...`
      if (options.isCalc)
        content = options.placeholder
  div(class = fieldLength data-dropdown-content= [{"name":"","value":""}])
    .dropdown__text-wrapper
      p(class="dropdown__name")= options.fieldName
    div(class="dropdown__field" data-dropdown-name=options.dropdownName)
      .dropdown__preview-wrapper= content
      .dropdown__check-wrapper
        button(class = "dropdown__check-mark")
    .dropdown__content-wrapper
      .dropdown__content
        each val in options.items
          div(class="dropdown__item-wrapper" data-dropdown-item-name=val data-dropdown-item-value=0)
            div(class="dropdown__item-name")= val
            div(class="dropdown__item-counter")
              button(class="dropdown__counter dropdown__counter_prev dropdown__counter_extreme-value") -
              div(class="dropdown__counter-value") 0
              button(class="dropdown__counter dropdown__counter_next") +
      if (options.confirmPanel)
       .dropdown__confirm-panel
        button(class="dropdown__confirm-button dropdown__confirm-button_clear") Очистить
        button(class="dropdown__confirm-button dropdown__confirm-button_admit") Принять
