mixin dropdown(options)
  - 
    var fieldLength = ""
    fieldLength += options.isSmall ? "dropdown dropdown_small" : options.isMedium ? "dropdown dropdown_medium" : "dropdown"
    var fieldClassName = ""
    fieldClassName += options.dropdown ? "dropdown_dropdown" : ""

  div(class = fieldLength)
    .dropdown__text-wrapper
      p(class="dropdown__name")= options.fieldName
 
      

    div(class=`dropdown__field ${fieldClassName}`)
      .dropdown__preview-wrapper= `0 ${options.items[0]}, 0 ${options.items[1]}...`
      .dropdown__check-wrapper
        .dropdown__check-mark
    .dropdown__content-wrapper
      .dropdown__content
        each val in options.items
          div(class="dropdown__item-wrapper" data-dropdown-item-name=val data-dropdown-item-value=0)
            div(class="dropdown__item-name")= val
            div(class="dropdown__item-counter")
              div(class="dropdown__counter dropdown__counter_prev dropdown__counter_extreme-value") -
              div(class="dropdown__counter-value") 0
              div(class="dropdown__counter dropdown__counter_next") +
