mixin dropdown(options)
  - 
    var fieldLength = ""
    fieldLength += options.isSmall ? "dropdown dropdown_small" : options.isMedium ? "dropdown dropdown_medium" : "dropdown"
    var fieldClassName = ""
    fieldClassName += options.dropdown ? "dropdown_dropdown" : ""
    var content = ""
    content += options.defaultContent ? options.defaultContent : `${options.defaultItems[0].value} ${options.defaultItems[0].name}, ${options.defaultItems[1].value} ${options.defaultItems[1].name}...`
    var contentEmpty = ""
    contentEmpty += options.defaultContent ? content : `0 ${options.defaultItems[0].name}, 0 ${options.defaultItems[1].name}...`
  div(class = fieldLength  data-dropdown-name=options.dropdownName data-dropdown-content=options.defaultItems data-dropdown-content-default=contentEmpty)
    .dropdown__text-wrapper
      p(class="dropdown__name")= options.fieldName
    div(class="dropdown__field")
      .dropdown__preview-wrapper= content
      .dropdown__check-wrapper
        button(class = "dropdown__check-mark")
    .dropdown__content-wrapper
      .dropdown__content
        each val in options.defaultItems
          div(class="dropdown__item-wrapper" data-dropdown-item-name=val.name data-dropdown-item-value=val.value)
            div(class="dropdown__item-name")= val.name
            div(class="dropdown__item-counter")
              button(class="dropdown__counter dropdown__counter_prev dropdown__counter_extreme-value") -
              div(class="dropdown__counter-value" data-dropdown-item-max=val.max data-dropdown-item-min=val.min)= val.value
              button(class="dropdown__counter dropdown__counter_next") +
      if (options.confirmPanel)
       .dropdown__confirm-panel
          button(class="dropdown__confirm-button dropdown__confirm-button_clear dropdown__confirm-button_hide") Очистить
          button(class="dropdown__confirm-button dropdown__confirm-button_admit") Принять