.colors
  mixin color(textClass, colorName, colorHex)
    .colors__wrapper
      div(class=`colors__rectangle colors__rectangle${textClass}`)
      .colors__color-name
        p(class='colors__color-name__text colors__color-name__text_bold')= colorName
        p(class='colors__color-name__text')= colorHex
  - var primeColor = '#1F2041'   
  - 
    var colors = [
      {styleText: '_dark-100', text: 'Dark Shade 100%', color: `${primeColor}`},
      {styleText: '_dark-75', text: 'Dark Shade 75%', color: `${primeColor}`},
      {styleText: '_dark-50', text: 'Dark Shade 50%', color: `${primeColor}`},
      {styleText: '_dark-25', text: 'Dark Shade 25%', color: `${primeColor}`},
      {styleText: '_dark-5', text: 'Dark Shade 5%', color: `${primeColor}`},
      {styleText: '_purple', text: 'Purple', color: '#BC9CFF'},
      {styleText: '_green', text: 'Green', color: '#6FCF97'},
      ]
  each val in colors
    +color(val.styleText, val.text, val.color)